@charset "UTF-8";

@mixin clearfix{
  &:before,
  &:after{
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after{
    clear: both;
  }   
  *zoom: 1;
}

@mixin list{
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin justify{
  text-align: justify;
  &:after{
    content: '';
    width: 100%;
    height: 0;
    display: inline-block;     
  }
}


@mixin wrap{
	@include clearfix;
	margin: auto;
	padding: 0 0px;
	width: 980px;
}


