@charset "UTF-8";
/* ==========================================================================
* Кнопки
* ========================================================================== */

.comments-button{
	display: inline-block;
	border: 0;
	outline: none;
	text-align: center;
	text-decoration: none;
	padding: 0;	
	
	transition: all .3s;
	line-height: 1;

	text-transform: uppercase;

	cursor: pointer;

	&:disabled{
		background: #ccc;
		cursor: default;
		&:hover{
			background: #ccc;
		}
	}

	&--comments{
		$bg: #0273b2;
		background: $bg;
		color: #fff;
		&:hover{
			background: lighten($bg, 5%);
		}
		&:active{
			background: darken($bg, 5%);
		}
	}

	&--s{
		border-radius: 5px;
		font-weight: 700;
		font-size: 14px;
		padding: 5px 20px 5px;
	}

	&--m{
		border-radius: 5px;
		font-weight: 700;
		font-size: 15px;
		padding: 12px 30px 12px;
	}

	&--l{
		border-radius: 5px;
		font-weight: 700;
		font-size: 27px;
		padding: 13px 40px 13px;
	}

	&--xl{
		border-radius: 5px;
		font-weight: 700;
		font-size: 40px;
		padding: 20px 20px 20px;

	}

	&--block{
		width: 100%;	
		padding-left: 0;
		padding-right: 0;
	}


}

/* ==========================================================================
* Формы
* ========================================================================== */

.comments-textarea{
	width: 100%;
	border: 1px solid #fff;
	padding: 15px;
	font-size: 14px;
	border: 1px solid #ccc;
	//height: 140px;
	//border-radius: 5px;
	//
	&.error{
		border-color: #ffa8a8;
	}
}


/* ==========================================================================
 * checkbox
 * ========================================================================== */

.checkbox{
	display: inline-block;
	position: relative;

	&__input{
		margin: -2px 0 0;

	}
}
